body {
	background-color: #85144B;
}

#Controls {
    background: #FF851B;
    color: white;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    font-size: 14px;
    left: 10px;
    padding: 10px;
    position: absolute;
    top: 10px;
    width: 200px;
}

.board {
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	justify-content: space-between;
	margin: 0 auto;
	width: 400px;
}

.board__cell {
	background-color: #FF4136;
	border: 0 none;
	box-sizing: border-box;
	color: white;
	font-size: 70px;
	height: 30%;
	width: 31%;

	-webkit-appearance: none;
}

.board__cell--highlighted {
	background: gold;
}
