body {
	background-color: #85144B;
}

.ttt-stage {
	display: flex;
	flex-wrap: wrap;
	height: 600px;
	justify-content: space-between;
	margin: 0 auto;
	width: 600px;
}

.ttt-tiles {
	background-color: #FF4136;
	bordeR: 0 none;
	box-sizing: border-box;
	color: white;
	font-size: 70px;
	height: 30%;
	width: 31%;

	-webkit-appearance: none;
}

.ttt-tiles.active {
	background: gold;
}

.ttt-stage-reset-button {
	background: #FF851B;
	border: 0 none;
	color: white;
	display: block;
	font-size: 30px;
	margin: 0 auto;
	width: 600px;
}