body {
	background-color: #85144B;
}

.ttt-stage {
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	justify-content: space-between;
	margin: 0 auto;
	width: 400px;
}

.ttt-tiles {
	background-color: #FF4136;
	bordeR: 0 none;
	box-sizing: border-box;
	color: white;
	font-size: 70px;
	height: 30%;
	width: 31%;

	-webkit-appearance: none;
}

.ttt-tiles.active {
	background: gold;
}

.ttt-controls {
	background: #FF851B;
	color: white;
	left: 10px;
	padding: 10px;
	position: absolute;
	top: 10px;
	width: 200px;
}

.ttt-controls  h4 {
	margin-top: 0;
}